*{
    margin: 0;
    padding: 0;
}
.game-card {
    max-width: 400px;
}

.game-image {
  height: 180px;
  object-fit: cover;
}
.game-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
